body {
    background-image: url("images/corrugation.png");
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img[src="images/pokemonbanner.jpg"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: gray;
}

img {
    width: 1200px;
    height: 600px;
}

#leftcol {
    float: left;
    margin: 10px;
    width: 650px;
}

td, th { border: 1px solid black;
    padding: 0.7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

    tr:nth-of-type(1), tr:nth-of-type(2) {background-color: red;}

tr:nth-of-type(3) {background-color: darkgray;}

tr:nth-of-type(4), tr:nth-of-type(5), tr:nth-of-type(6) {background-color:white;}


#rightcol {
    float: right;
    margin: 10px;
    width: 550px;
}

#leftcol h2 {
    text-align: center;
    color: gray;
}
#rightcol h2 {
    text-align: center;
    color: gray;
}

p {
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 30px;
    line-height: 25px;
}

h3 {
    color: gray;
    text-align: center;
}

img[src="images/pikachu.jpg"] {
    width: 200px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#form-section {
   float: left;
   clear: left;
   margin-bottom: 20px;
   margin-left: 10px;
} 

#form {
    margin-left: 6em;
    width: 450px;
}

.input-text {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pokemon-collection {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

#favorite {
    margin-right: 15px;
    margin-left: 15px;
}